pkgbase = sonic-frameworks-cmake-modules
	pkgdesc = Extra modules and scripts for CMake
	pkgver = 6.27.0.1
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-cmake-modules
	arch = any
	groups = sonicde-frameworks
	license = LGPL
	makedepends = python-requests
	makedepends = python-sphinx
	makedepends = qt6-tools
	depends = cmake
	optdepends = python-pyxdg: to generate fastlane metadata for Android apps
	optdepends = python-requests: to generate fastlane metadata for Android apps
	optdepends = python-yaml: to generate fastlane metadata for Android apps
	provides = extra-cmake-modules
	conflicts = extra-cmake-modules
	source = sonic-frameworks-cmake-modules-6.27.0.1.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-cmake-modules/archive/refs/tags/6.27.0.1.tar.gz
	sha256sums = b8e75cf07ef7b87aec78c0647d2069e7d136730451123734a3688486415fa2d6

pkgname = sonic-frameworks-cmake-modules
