pkgbase = sonic-frameworks-cmake-modules
	pkgdesc = Extra modules and scripts for CMake
	pkgver = 6.26.0
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-frameworks-cmake-modules
	arch = any
	groups = sonicde-frameworks
	license = LGPL
	makedepends = python-requests
	makedepends = python-sphinx
	makedepends = qt6-tools
	depends = cmake
	optdepends = python-pyxdg: to generate fastlane metadata for Android apps
	optdepends = python-requests: to generate fastlane metadata for Android apps
	optdepends = python-yaml: to generate fastlane metadata for Android apps
	provides = extra-cmake-modules
	conflicts = extra-cmake-modules
	source = sonic-frameworks-cmake-modules-6.26.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-cmake-modules/archive/refs/tags/6.26.0.tar.gz
	sha256sums = 36c50ae8f4985046e77d9c553b9ae7da5c2f38a91c8b6440d44b58f684b25df1

pkgname = sonic-frameworks-cmake-modules
